language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install .
before_script:
  - pip install coveralls
# command to run tests
script: pytest
after_success: coveralls
